:root[data-theme="flexoki-light"] {
  color-scheme: light;

  --accent: #205ea6;
  --selection: #cecdc3;
  --muted: #b7b5ac;

  --background: #fffcf0;
  --dark-background: #f2efe4;
  --darker-background: #e5e2d8;
  --lighter-background: #e6e4d9;

  --foreground: #100f0f;
  --dark-foreground: #878580;
  --light-foreground: #403e3c;
  --bright-foreground: #100f0f;

  --red: #d14d41;
  --yellow: #d0a215;
  --orange: #d0772b;
  --green: #879a39;
  --cyan: #3aa99f;
  --blue: #205ea6;
  --magenta: #ce5d97;
  --brown: #683b15;

  --bright-red: #d14d41;
  --bright-yellow: #d0a215;
  --bright-green: #879a39;
  --bright-cyan: #3aa99f;
  --bright-blue: #4385be;
  --bright-magenta: #ce5d97;

  --text-on-accent: #e5e2d8;
}
