:root[data-theme="hackerman"] {
  color-scheme: dark;

  --accent: #82fb9c;
  --selection: #1f253a;
  --muted: #2d3450;

  --background: #0b0c16;
  --dark-background: #080910;
  --darker-background: #06060c;
  --lighter-background: #151828;

  --foreground: #ddf7ff;
  --dark-foreground: #6a6e95;
  --light-foreground: #b5c5db;
  --bright-foreground: #ddf7ff;

  --red: #50f872;
  --yellow: #50f7d4;
  --orange: #50f7a3;
  --green: #4fe88f;
  --cyan: #7cf8f7;
  --blue: #829dd4;
  --magenta: #86a7df;
  --brown: #287b51;

  --bright-red: #85ff9d;
  --bright-yellow: #a4ffec;
  --bright-green: #9cf7c2;
  --bright-cyan: #d1fffe;
  --bright-blue: #c4d2ed;
  --bright-magenta: #cddbf4;

  --text-on-accent: #06060c;
}
