:root[data-theme="solitude"] {
  color-scheme: dark;

  --accent: #798186;
  --selection: #343d41;
  --muted: #4b4e55;

  --background: #101315;
  --dark-background: #0c0e10;
  --darker-background: #080a0b;
  --lighter-background: #101315;

  --foreground: #cacccc;
  --dark-foreground: #4b4e55;
  --light-foreground: #cbc2be;
  --bright-foreground: #a5aeb4;

  --red: #565d60;
  --yellow: #d9dbdc;
  --orange: #d9dbdc;
  --green: #9fa5a9;
  --cyan: #707070;
  --blue: #798186;
  --magenta: #aeaeae;
  --brown: #6d6e6e;

  --bright-red: #de6145;
  --bright-yellow: #c9c2b4;
  --bright-green: #343d41;
  --bright-cyan: #707070;
  --bright-blue: #5d6367;
  --bright-magenta: #9a9a9a;

  --text-on-accent: #080a0b;
}
