:root[data-theme="tokyo-night"] {
  color-scheme: dark;

  --accent: #7aa2f7;
  --selection: #292e42;
  --muted: #414868;

  --background: #1a1b26;
  --dark-background: #13141c;
  --darker-background: #0e0e14;
  --lighter-background: #24283b;

  --foreground: #a9b1d6;
  --dark-foreground: #565f89;
  --light-foreground: #b4bee6;
  --bright-foreground: #c0caf5;

  --red: #f7768e;
  --yellow: #e0af68;
  --orange: #eb927b;
  --green: #9ece6a;
  --cyan: #449dab;
  --blue: #7aa2f7;
  --magenta: #ad8ee6;
  --brown: #75493d;

  --bright-red: #ff7a93;
  --bright-yellow: #ff9e64;
  --bright-green: #b9f27c;
  --bright-cyan: #0db9d7;
  --bright-blue: #7da6ff;
  --bright-magenta: #bb9af7;

  --text-on-accent: #0e0e14;
}
